@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors  */
  --main-bg-color: #2f303a;
  --pink-circle: rgb(188, 58, 128);
  --blue-circle: #2f3446;
  --footer-bg: #202027;
  --primary-link-hover: #a07fe8;
  --button-primary: #1762a7;
  --button-hover: #3a90e1;
  --accent-text: #bc3a80;
  --primary-text: #ffffff;
  --link-hover: #ffb515;

  /* typography */
  --h4-font-size: 1rem;
  --h1-font-size: 3rem;
  --h2-font-size: 1.5rem;
  --logo-font-size: 1.25rem;
  --btn-text: 0.75rem;
  --font-bold: 500;

  /* breakpoitns */
  --xs-breakpoint: 0px;
  --sm-breakpoint: 600px;
  --md-breakpoint: 960px;
  --lg-breakpoint: 1280px;
  --xl-breakpoint: 1920px;
}

/* General styles */
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--primary-text);
  font-size: var(--h4-font-size);
  min-height: 100vh;
  overflow: hidden;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container {
  height: 100vh;
  /* width:100vw; */
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header {
  padding: 3rem 0;
}

.logo {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: var(--h3-font-size);
  text-decoration: none;
}

.logotype {
  margin-left: 0.5rem;
  font-size: var(--logo-font-size);
}

.header-nav ul,
.footer-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.footer-navigation  li{
  text-align: center;
}

.header-nav > ul > li:not(:last-child) {
  margin-right: 2rem;
}

.header-nav a,
.footer-nav a {
  text-decoration: none;
  color: inherit;
 
}

.header-nav a:hover {
  color: var(--link-hover);
}


.title {
  font-weight: var(--font-bold);
  font-size: var(--h1-font-size);
  margin-bottom: 0;
  margin-top: 0;
}

.subt {
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  margin-top: 0.75rem;
  margin-bottom: 3rem;
}

.button-primary {
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 8rem;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: var(--button-primary);
  text-align: center;
  color: var(--primary-text);
  text-decoration: none;
}

.home {
  flex: 1;
}

.home,
.discover {
  display: flex;
}

.home .img-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;


}

.img {
  background-image: url(./assets/images/landing-page-girl.png);
  background-repeat: no-repeat;
  flex-grow: 1;
  /* max-height:80vh;  */
  min-width: 40vw;
  min-height: 60vh;
  max-width: 515px;
  z-index: 2;
  background-size: 80%;
  background-position: 0 bottom;

  background-position: 0 bottom;
  align-items: center;
  justify-content: flex-end;
}

.home .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

@media (max-width: 900px) {
  .home .img-wrapper .img {
    display: none;
  }
  .home {
    justify-content: center;
    align-items: center;
  }

  .home .heading {
    align-items: center;
  }
  .discover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-section{
    justify-content: center;
  }
  .image-section .cover{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
  }

}

.blue,
.pink,
.half-blue {
  border-radius: 50%;
  opacity: 0.1;
  display: block;
  position: absolute;
  z-index: -1;
  height: 25vw;
  width: 25vw;
}

.blue {
  background-color: var(--button-hover);
  top: 20%;
  left: 35%;
}

.pink {
  background-color: var(--accent-text);
  top: 65%;
  left: 10%;
}

.half-blue {
  height: 40vw;
  width: 40vw;
  right: 0;
  bottom: 0;

  overflow: hidden;
  border-radius: 0;
}

.home .half-blue::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(40%, 40%);
  background-color: var(--button-hover);
}

.footer-nav {
  padding: 1rem 0;
  background-color: var(--footer-bg);
  font-weight: var(--font-bold);
  max-height: 78px;
}

.footer > ul > li:not(:last-child) {
  margin-right: 2rem;
}

.footer .social-links {
  fill: var(--primary-text);
  /* align-items: center; */
}
.footer-navigation a:hover, .footer-navigation a:focus, .footer-navigation a:active  {
  color: var(--link-hover);
}

.social-links a:hover, .social-links a:focus, .social-links a:active {
  color: var(--button-hover);
}
.footer a:hover .social-links {
  fill: var(--button-hover);
}

/* section Discover*/

.discover {
  max-width: 80vw;
  margin: 0 auto;
}

.image-section {
  margin-left: 4rem;
  min-width: 200px;
  max-width: 40vh;
  /* margin:0 auto; */
}

.cover {
  width: 100%;
}

.icon {
  max-width: 2rem;
  
}

.icon-description {
  margin-top: 1rem;
  margin-bottom: 0;
  min-width: 75px;
  text-align: center;
}

.icons-grid {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.icon-grid-item {
  background-color: var(--footer-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.icon-grid-item:not(:last-child) {
  margin-right: 2rem;
}
.subt {
  margin-top: 3rem;
}


/*section Join*/
.join {
  display:flex;
  justify-content: space-between;
}

.form{
  display: flex;
  flex-direction: column;
  /* height: 50%;
  width:50%; */
  /* min-width: 50%; */
}
.form-section{
  display:flex;
  
}

.left-section .title{
  font-weight: var(--font-bold);
}
.left-section .fun{
  color: var(--accent-text);
    font-weight: var(--font-bold);
}